/* src/pages/LoginPage.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  margin-bottom: 1rem;
  color: #012ddd;
  font-size: 2.5rem;
}

.login-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 370px;
}

.login-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-button {
  width: 100%;
  padding: 0.5rem;
  background-color: #3c9af8;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-button {
  padding: 0.5rem 1rem;
  background-color: #012ddd;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
